<div
	class="card-item"
	cdkDragBoundary=".container-fluid"
	cdkDrag
	(cdkDragStarted)="onCardDragStarted.emit(index)"
	(cdkDragEnded)="onCardDragEnded.emit({$event, index})"
	[ngClass]="{
		draggable: card?.isDraggable
	}"
	[ngStyle]="{
		background: card?.backgroundImage
	}">
	<p class="card-title">{{ card?.title }}</p>
	<p class="card-description">
		{{ card?.description || '' | limitTo : 400 }}
	</p>

	<div class="card-footer">
		<div class="card-date">
			<div>Created: {{ card?.createDate | date : 'medium' }}</div>
			<div *ngIf="card?.updateDate">
				Updated: {{ card?.updateDate | date : 'medium' }}
			</div>
		</div>

		<app-card-menu
			[index]="index"
			(onEdit)="onEdit.emit($event)"
			(onCopy)="onCopy.emit($event)"
			(onRemove)="onRemove.emit($event)">
		</app-card-menu>
	</div>
</div>
