<div class="container-fluid">
	<div class="row">
		<div class="col card-container add-button" (click)="addCard()">
			<img src="./assets/images/add-icon.svg" />
		</div>
		<div
			class="col card-container"
			*ngFor="
				let card of cards$ | async;
				let cardId = index;
				trackBy: trackByIndex
			"
			(mouseover)="onCellMouseOver($event, cardId)"
			[ngClass]="{ focused: card.focused }">
			<app-card
				[card]="card"
				[index]="cardId"
				(onEdit)="openEditCardModal($event, card)"
				(onCopy)="copyCard($event)"
				(onRemove)="removeCard($event)"
				(onCardDragStarted)="onCardDragStarted($event)"
				(onCardDragEnded)="onCardDragEnded($event.$event, $event.index)">
			</app-card>
		</div>
	</div>
</div>
